html, body {
    margin: 0;
    padding: 0;
}
body {
    user-select: none;
}

.bar {
    width: 100%;
    height: 75px;
    background: white;
    box-sizing: border-box;
    position: relative;       
    display: flex;
    align-items: center;      
    padding-left: 15px;       
}

.fill {
    width: 100%;
    height: 100%;
    background: #0e2d51;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;                
}

.header-text {
    font-family: 'Dm Sans', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    position: relative;
    z-index: 1;  
    margin-left: 15px;           
}

h1 {
    font-family: 'Horizon', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-shadow: 
        4px 4px 6px rgba(0, 0, 0, 0.35), 
        -1px -1px 2px rgba(255, 255, 255, 0.4);
}

p{
    font-family: 'Dm Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: -20px;
    color: #2f4f7f;
}

.welcome-img {
    width: 1200px;
    height: 310px;
    margin-left: 345px;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0px; 
    row-gap: 5px;  
    margin-left: 30px;
    margin-top: 50px;
}

.box {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 500px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #2f4f7f;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Dm Sans', sans-serif;
    color: #2f4f7f;
    font-size: 20px;
    text-decoration: none;    
    cursor: pointer; 
    font-weight: bold;
    margin-left: 330px;
    margin-top: 10px;
}

.box-img {
    width: 80px;
    height: 70px;
    margin-left:-10px ;
    object-fit: cover;
}

.Basic{
    font-size: 40px;
    font-family: 'Dm Sans', sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

.Conditional{
    font-size: 35px;
    font-family: 'Dm Sans', sans-serif;
    font-weight: bold;
}

.Variables{
    font-size: 35px;
    font-family: 'Dm Sans', sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

.Loops{
    font-size: 40px;
    font-family: 'Dm Sans', sans-serif;
    font-weight: bold;
    margin-left: 110px;
}

.foot-bar {
    width: 100%;
    height: 75px;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 58px;
}

.foot-fill {
    width: 100%;
    height: 100%;
    background: #0e2d51;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.footer-text, .footer-text1 {
    font-family: 'Dm Sans', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
    position: relative;
    z-index: 1;
    margin: 2px 0;
    margin-left: 25px;
}